@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

body {
  font-family: Roboto;
}
.container {
  padding: 0 15px;
  width: 1170px;
  margin: 0 auto;
}

article {
  width: 1800px;
  height: 300px;
  background-color: rgba(47, 48, 58, 1);
}

.hero {
  background: #2f303a;
  padding: 200px 0;
}
.hero-btn {
  background-color: rgb(33, 150, 243);
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: rgb(255, 255, 255);
  display: block;
  width: 220px;
  padding: 10px 32px;
  margin: 0px auto;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

p {
  color: grey;
}

.main-title {
  font-weight: 700;
  font-size: 26px;
}

.main-word {
  font-weight: 500;
  font-size: 14px;
}

h1 {
  font-weight: 1100;
  font-size: 44px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.main-description {
  font-weight: 400;
  font-size: 14px;
}

h3 {
  font-weight: 700;
  font-size: 14px;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

.last-word {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
}

h4 {
  font-weight: 500;
  font-size: 16px;
}

.products-button {
  font-weight: 500;
  font-size: 16px;
  background-color: rgb(33, 150, 243);
  line-height: 162%;
  text-align: center;
  color: white;
}
.products-btn {
  text-align: center;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 100px;
  list-style: none;
  color: (255, 255, 255, 0.6);
}

.main-section {
  display: flex;
  justify-content: space-around;
}

.second-section {
  text-align: center;
  padding: 0 30px;
}

.last-section {
  text-align: center;
}

.comand-ul {
  display: flex;
  justify-content: space-around;
  letter-spacing: 0.03em;
  text-align: center;
}

.last-word {
  color: white;
}
.benefits {
  padding: 94px 0 94px 0;
}

.main-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  padding-right: 30px;
}
.comand-ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0 30px;
}

.benefits-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.footer {
  width: 1600px;
  height: 252px;
  background: #2f303a;
  padding: 60px 1240px 161px 215px;
}

.products-div {
  display: flex;
  justify-content: space-between;
  padding: 34px 0 30px;
  list-style: none;
}

.products-second-div {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  list-style: none;
}

.products-third-div {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 114px;
  list-style: none;
}

.last-logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}
