@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: Roboto;
}

article {
  width: 900px;
  height: 300px;
  background-color: rgba(47, 48, 58, 1);
}

button {
  background-color: rgba(33, 150, 243, 1);
  color: white;
}

p {
  color: grey;
}

.main-link {
  font-weight: 700;
  font-size: 26px;
}

.main-word {
  font-weight: 500;
  font-size: 14px;
}

h1 {
  font-weight: 900;
  font-size: 44px;
  text-align: center;
  text-decoration: none;
}

.button {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}

.main-description {
  font-weight: 400;
  font-size: 14px;
}

h3 {
  font-weight: 700;
  font-size: 14px;
}

h2 {
  font-weight: 700;
  font-size: 36px;
}

.last-word {
  font-weight: 400;
  font-size: 14px;
}

h4 {
  font-weight: 500;
  font-size: 16px;
}

.second-button {
  font-weight: 500;
  font-size: 16px;
}

a {
  text-decoration: none;
}
